html {
    box-sizing: border-box;
    font-size: 100%;

}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
line-height: 1.3;
font-family: 'Karla', sans-serif;
color: var(--Light-Gray);

}

:root {
    /* Primary */
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    /* Neutral */
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}